body {
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #016E3F;
}

@media only screen and (max-width: 600px) {
    .fondo {
        height: 100vh;
    }
}

.btn-verde {
    background-color: #016E3F;
    color: white;
}

    .btn-verde:hover {
        background-color: #00522e;
        color: white;
    }

input[type=text] {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #7CD62B;
}

input[type=password] {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #7CD62B;
}
