
<div class="loading" id="ModalLoading">
    <div class='uil-ring-css' style='transform:scale(0.79);'>
        <div></div>
    </div>
</div>

<script>

    var loadingOverlay = document.querySelector('.loading');
    function toggleLoading(event) {
        if (event.keyCode !== 13) return;

        document.activeElement.blur();

        if (loadingOverlay.classList.contains('hidden')) {
            loadingOverlay.classList.remove('hidden');
        } else {
            loadingOverlay.classList.add('hidden');
        }
    }

    document.addEventListener('keydown', toggleLoading);

</script>

<style>
    #ModalLoading {
        z-index: 9999999999999 !important;
        background: #00000085;
    }
</style>